<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTU Token Minting Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap"
          rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
    {#    <script src="{{ url_for('static', filename='scripts.js') }}"></script>#}
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100 dark:bg-gray-800 transition-colors duration-300">
<div id="particles-js"></div>
<div class="container mx-auto px-4 py-8">
    <header class="text-center mb-8">
        <h1 class="text-4xl font-bold mb-2">NTU Token Minting Page</h1>
        <p class="text-xl">Decentralized NTU Ticketing System</p>
    </header>

    <div class="flex justify-end mb-4">
        <button id="darkModeToggle" class="neumorphic p-2 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"/>
            </svg>
        </button>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="glassmorphic p-6">
            <h2 class="text-2xl font-semibold mb-4">Connect to MetaMask</h2>
            <button id="connectButton" class="btn-primary w-full py-2 px-4 rounded">Connect Wallet</button>
        </div>

        <div class="glassmorphic p-6">
            <p class="mb-2">Cost per $NTU token: <span id="cost">-</span></p>
            <p class="mb-2">Max Mint Amount: <span id="maxMintAmount">-</span></p>
            <p class="mb-2">Current Supply: <span id="totalSupply">-</span> / <span id="maxSupply">-</span></p>
            <div class="flex items-center">
                <input type="number" id="mintAmount" placeholder="Amount" min="1" max="2" value="1"
                       class="dark:bg-gray-800 dark:text-white w-full py-2 px-4 rounded mt-4 mr-2"> <!-- w-48 设置宽度 -->
                <button id="mintButton" class="btn-primary w-full py-2 px-4 rounded mt-4 mr-2">Mint</button>
                <!-- mr-2 设置右侧间隙 -->
                <button id="whitelist_check" class="btn-secondary w-full py-2 px-4 rounded mt-4">Check Whitelist
                </button>

            </div>
        </div>

        <div class="glassmorphic p-6">
            <h2 class="text-2xl font-semibold mb-4">State Check</h2>
            <button id="Current_state" class="btn-secondary w-full py-2 px-4 rounded">Current State</button>
            <button id="Asset_verify" class="btn-primary w-full py-2 px-4 rounded mt-4">Asset Verify</button>

            <h2 class="text-2xl font-semibold mb-4 mt-6">Trade on our secondary market</h2>
            <div class="flex justify-center space-x-4">
                <a href="https://testnets.opensea.io/collection/ntu-ticket-1"
                   class="btn-primary py-2 px-4 rounded inline-block">Trade on Opensea</a>
                <a href="https://sepolia.etherscan.io/address/0xEf3C6342e53B7994597D8BC50A76EED24D8F0572"
                   class="btn-secondary py-2 px-4 rounded inline-block">View on Etherscan</a>
            </div>

        </div>

        <div class="glassmorphic p-6">
            <h2 class="text-2xl font-semibold mb-4">Transfer</h2>
            <div class="mb-4">
                <label for="tokenDropdown" class="block mb-2">Select your token:</label>
                <select id="tokenDropdown" class="dark:bg-gray-800 dark:text-white w-full p-2 rounded">
                    <option value="">--select token--</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="addressInput" class="block mb-2">Transfer to:</label>
                <input type="text" id="addressInput" class="dark:bg-gray-800 dark:text-white w-full p-2 rounded"
                       placeholder="Enter address">
            </div>
            <button id="transfer" class="btn-secondary w-full py-2 px-4 rounded">Transfer</button>
            <button id="Show_token" class="btn-primary w-full py-2 px-4 rounded mt-4">show token</button>
            <div id="tokenImage" class="mt-6"></div>
        </div>

    </div>
</div>
<script>
    // Dark mode toggle
    const darkModeToggle = document.getElementById('darkModeToggle');
    const body = document.body;

    darkModeToggle.addEventListener('click', () => {
        body.classList.toggle('dark');
    });

    // Particles.js configuration
    particlesJS('particles-js', {
        particles: {
            number: {value: 80, density: {enable: true, value_area: 800}},
            color: {value: "#ffffff"},
            shape: {
                type: "circle",
                stroke: {width: 0, color: "#000000"},
                polygon: {nb_sides: 5},
                image: {src: "img/github.svg", width: 100, height: 100}
            },
            opacity: {value: 0.5, random: false, anim: {enable: false, speed: 1, opacity_min: 0.1, sync: false}},
            size: {value: 3, random: true, anim: {enable: false, speed: 40, size_min: 0.1, sync: false}},
            line_linked: {enable: true, distance: 150, color: "#ffffff", opacity: 0.4, width: 1},
            move: {
                enable: true,
                speed: 6,
                direction: "none",
                random: false,
                straight: false,
                out_mode: "out",
                bounce: false,
                attract: {enable: false, rotateX: 600, rotateY: 1200}
            }
        },
        interactivity: {
            detect_on: "canvas",
            events: {onhover: {enable: true, mode: "repulse"}, onclick: {enable: true, mode: "push"}, resize: true},
            modes: {
                grab: {distance: 400, line_linked: {opacity: 1}},
                bubble: {distance: 400, size: 40, duration: 2, opacity: 8, speed: 3},
                repulse: {distance: 200, duration: 0.4},
                push: {particles_nb: 4},
                remove: {particles_nb: 2}
            }
        },
        retina_detect: true
    });

    // Placeholder data (replace with actual data fetching)

    let web3;
    let account;
    let contract;
    let isWhitelisted = false;
    let isHolder = false;


    const contractAddress = '0xEf3C6342e53B7994597D8BC50A76EED24D8F0572'; //contract address
    //contract ABI
    const contractABI = [
        {
            "inputs": [
                {
                    "internalType": "string",
                    "name": "_initBaseURI",
                    "type": "string"
                }
            ],
            "stateMutability": "nonpayable",
            "type": "constructor"
        },
        {
            "inputs": [],
            "name": "ERC721EnumerableForbiddenBatchMint",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "sender",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                },
                {
                    "internalType": "address",
                    "name": "owner",
                    "type": "address"
                }
            ],
            "name": "ERC721IncorrectOwner",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "operator",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                }
            ],
            "name": "ERC721InsufficientApproval",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "approver",
                    "type": "address"
                }
            ],
            "name": "ERC721InvalidApprover",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "operator",
                    "type": "address"
                }
            ],
            "name": "ERC721InvalidOperator",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "owner",
                    "type": "address"
                }
            ],
            "name": "ERC721InvalidOwner",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "receiver",
                    "type": "address"
                }
            ],
            "name": "ERC721InvalidReceiver",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "sender",
                    "type": "address"
                }
            ],
            "name": "ERC721InvalidSender",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                }
            ],
            "name": "ERC721NonexistentToken",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "owner",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "index",
                    "type": "uint256"
                }
            ],
            "name": "ERC721OutOfBoundsIndex",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "owner",
                    "type": "address"
                }
            ],
            "name": "OwnableInvalidOwner",
            "type": "error"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "account",
                    "type": "address"
                }
            ],
            "name": "OwnableUnauthorizedAccount",
            "type": "error"
        },
        {
            "anonymous": false,
            "inputs": [
                {
                    "indexed": true,
                    "internalType": "address",
                    "name": "owner",
                    "type": "address"
                },
                {
                    "indexed": true,
                    "internalType": "address",
                    "name": "approved",
                    "type": "address"
                },
                {
                    "indexed": true,
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                }
            ],
            "name": "Approval",
            "type": "event"
        },
        {
            "anonymous": false,
            "inputs": [
                {
                    "indexed": true,
                    "internalType": "address",
                    "name": "owner",
                    "type": "address"
                },
                {
                    "indexed": true,
                    "internalType": "address",
                    "name": "operator",
                    "type": "address"
                },
                {
                    "indexed": false,
                    "internalType": "bool",
                    "name": "approved",
                    "type": "bool"
                }
            ],
            "name": "ApprovalForAll",
            "type": "event"
        },
        {
            "anonymous": false,
            "inputs": [
                {
                    "indexed": true,
                    "internalType": "address",
                    "name": "previousOwner",
                    "type": "address"
                },
                {
                    "indexed": true,
                    "internalType": "address",
                    "name": "newOwner",
                    "type": "address"
                }
            ],
            "name": "OwnershipTransferred",
            "type": "event"
        },
        {
            "anonymous": false,
            "inputs": [
                {
                    "indexed": true,
                    "internalType": "address",
                    "name": "from",
                    "type": "address"
                },
                {
                    "indexed": true,
                    "internalType": "address",
                    "name": "to",
                    "type": "address"
                },
                {
                    "indexed": true,
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                }
            ],
            "name": "Transfer",
            "type": "event"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "to",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                }
            ],
            "name": "approve",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "owner",
                    "type": "address"
                }
            ],
            "name": "balanceOf",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "baseExtension",
            "outputs": [
                {
                    "internalType": "string",
                    "name": "",
                    "type": "string"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "baseURI",
            "outputs": [
                {
                    "internalType": "string",
                    "name": "",
                    "type": "string"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "check_presale",
            "outputs": [
                {
                    "internalType": "bool",
                    "name": "",
                    "type": "bool"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "cost",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "deploymentTimestamp",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                }
            ],
            "name": "getApproved",
            "outputs": [
                {
                    "internalType": "address",
                    "name": "",
                    "type": "address"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "owner",
                    "type": "address"
                },
                {
                    "internalType": "address",
                    "name": "operator",
                    "type": "address"
                }
            ],
            "name": "isApprovedForAll",
            "outputs": [
                {
                    "internalType": "bool",
                    "name": "",
                    "type": "bool"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "maxMintAmount",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "maxSupply",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "_to",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "_mintAmount",
                    "type": "uint256"
                }
            ],
            "name": "mint",
            "outputs": [],
            "stateMutability": "payable",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "name",
            "outputs": [
                {
                    "internalType": "string",
                    "name": "",
                    "type": "string"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "owner",
            "outputs": [
                {
                    "internalType": "address",
                    "name": "",
                    "type": "address"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                }
            ],
            "name": "ownerOf",
            "outputs": [
                {
                    "internalType": "address",
                    "name": "",
                    "type": "address"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "presalePeriod",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "_user",
                    "type": "address"
                }
            ],
            "name": "removeWhitelistUser",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "renounceOwnership",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "from",
                    "type": "address"
                },
                {
                    "internalType": "address",
                    "name": "to",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                }
            ],
            "name": "safeTransferFrom",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "from",
                    "type": "address"
                },
                {
                    "internalType": "address",
                    "name": "to",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                },
                {
                    "internalType": "bytes",
                    "name": "data",
                    "type": "bytes"
                }
            ],
            "name": "safeTransferFrom",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "operator",
                    "type": "address"
                },
                {
                    "internalType": "bool",
                    "name": "approved",
                    "type": "bool"
                }
            ],
            "name": "setApprovalForAll",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "string",
                    "name": "_newBaseURI",
                    "type": "string"
                }
            ],
            "name": "setBaseURI",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "_newCost",
                    "type": "uint256"
                }
            ],
            "name": "setCost",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "_newmaxMintAmount",
                    "type": "uint256"
                }
            ],
            "name": "setmaxMintAmount",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "_newmaxSupply",
                    "type": "uint256"
                }
            ],
            "name": "setmaxSupply",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "setnewpresale",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "_newpresalePeriod",
                    "type": "uint256"
                }
            ],
            "name": "setpresalePeriod",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "bytes4",
                    "name": "interfaceId",
                    "type": "bytes4"
                }
            ],
            "name": "supportsInterface",
            "outputs": [
                {
                    "internalType": "bool",
                    "name": "",
                    "type": "bool"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "symbol",
            "outputs": [
                {
                    "internalType": "string",
                    "name": "",
                    "type": "string"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "index",
                    "type": "uint256"
                }
            ],
            "name": "tokenByIndex",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "owner",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "index",
                    "type": "uint256"
                }
            ],
            "name": "tokenOfOwnerByIndex",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                }
            ],
            "name": "tokenURI",
            "outputs": [
                {
                    "internalType": "string",
                    "name": "",
                    "type": "string"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "totalSupply",
            "outputs": [
                {
                    "internalType": "uint256",
                    "name": "",
                    "type": "uint256"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "from",
                    "type": "address"
                },
                {
                    "internalType": "address",
                    "name": "to",
                    "type": "address"
                },
                {
                    "internalType": "uint256",
                    "name": "tokenId",
                    "type": "uint256"
                }
            ],
            "name": "transferFrom",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "newOwner",
                    "type": "address"
                }
            ],
            "name": "transferOwnership",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "_owner",
                    "type": "address"
                }
            ],
            "name": "verifyAsset",
            "outputs": [
                {
                    "internalType": "bool",
                    "name": "",
                    "type": "bool"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "_owner",
                    "type": "address"
                }
            ],
            "name": "walletOfOwner",
            "outputs": [
                {
                    "internalType": "uint256[]",
                    "name": "",
                    "type": "uint256[]"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "_user",
                    "type": "address"
                }
            ],
            "name": "whitelistUser",
            "outputs": [],
            "stateMutability": "nonpayable",
            "type": "function"
        },
        {
            "inputs": [
                {
                    "internalType": "address",
                    "name": "",
                    "type": "address"
                }
            ],
            "name": "whitelisted",
            "outputs": [
                {
                    "internalType": "bool",
                    "name": "",
                    "type": "bool"
                }
            ],
            "stateMutability": "view",
            "type": "function"
        },
        {
            "inputs": [],
            "name": "withdraw",
            "outputs": [],
            "stateMutability": "payable",
            "type": "function"
        }
    ]; // Replace with your contract ABI

    document.getElementById('connectButton').onclick = async () => {
        if (window.ethereum) {
            try {
                // Request account access
                await window.ethereum.request({method: 'eth_requestAccounts'});
                web3 = new Web3(window.ethereum);

                // Get the user's account
                const accounts = await web3.eth.getAccounts();
                account = accounts[0];
                m_account = hide_addr(account, 6, 5)

                document.getElementById('connectButton').innerText = `Connected: ${m_account}`;

                // Initialize contract
                contract = new web3.eth.Contract(contractABI, contractAddress);

                // Check if account is whitelisted
                isWhitelisted = await contract.methods.whitelisted(account).call();
                Owner = await contract.methods.owner().call();

                // Get contract info
                const cost = await contract.methods.cost().call();
                const maxMintAmount = await contract.methods.maxMintAmount().call();
                const totalSupply = await contract.methods.totalSupply().call();
                const maxSupply = await contract.methods.maxSupply().call();

                document.getElementById('cost').innerText = isWhitelisted || (Owner == account) ? "Free" : web3.utils.fromWei(cost, 'ether') + " ETH";
                document.getElementById('maxMintAmount').innerText = maxMintAmount;
                document.getElementById('totalSupply').innerText = totalSupply;
                document.getElementById('maxSupply').innerText = maxSupply;

                document.getElementById('mintAmount').max = maxMintAmount;

                // Show mint section
                document.getElementById('mintSection').classList.remove('hidden');

            } catch (error) {
                console.error('User denied account access', error);
            }
        } else {
            alert('MetaMask not detected. Please install MetaMask and try again.');
        }
    };


    function hide_addr(str, frontLen, endLen) {
        var len = str.length - frontLen - endLen;
        var xing = '****';
        return str.substring(0, frontLen) + xing + str.substring(str.length - endLen);
    }

    //mint
    document.getElementById('mintButton').onclick = async () => {
        const mintAmount = document.getElementById('mintAmount').value;
        let totalCost = '0';
        Owner = await contract.methods.owner().call();
        let pre_sale = await contract.methods.check_presale().call();
        if (pre_sale && !isWhitelisted) {
            alert("You are not whitelisted!"); //if it's pre-sale, only whitelisted users are allowed to mint
        }

        if (!isWhitelisted && account != Owner) {
            const cost = await contract.methods.cost().call();
            totalCost = web3.utils.toBN(cost).mul(web3.utils.toBN(mintAmount));//if it's public-sale, non-whitelisted users have to pay a certain amount of ether
        }

        try {
            await contract.methods.mint(account, mintAmount).send({from: account, value: totalCost});
            document.getElementById('status').innerText = `Minted ${mintAmount} NTU Token(s) successfully!`; //whitelisted users can purchase their tokens at anytime for free
        } catch (error) {
            console.error('Error minting tokens', error);
            document.getElementById('status').innerText = `Failed to mint tokens.`;
        }
    };

    //verify if the current wallet is whitelisted by the project
    document.getElementById('whitelist_check').onclick = async () => {
        isWhitelisted = await contract.methods.whitelisted(account).call();
        Owner = await contract.methods.owner().call();
        if (account == Owner) {
            alert('You are the owner of contract [NTU_TOKEN]');
        } // if the current wallet is the creator of this contract

        else if (isWhitelisted) {
            alert('Congratulations! You are whitelisted by NTU!'); // if it is whitelisted
        } else {
            alert('You are not whitelisted by NTU!');// if it is not whitelisted
        }
    };

    //verify if the current wallet is the holder
    document.getElementById('Asset_verify').onclick = async () => {
        isHolder = await contract.methods.verifyAsset(account).call(); // call the verifyAsset method of the contract
        const assets = await contract.methods.walletOfOwner(account).call(); // get asset list of the current wallet
        if (isHolder) {

            alert('You hold NTU tokens: ' + assets);// if it's the holder
        } else {
            alert('You are not NTU holder! ' + assets);// if it's not the holder
        }

        const dropdown = document.getElementById("tokenDropdown");
        dropdown.innerHTML = "";

        assets.forEach(function (user) {
            let option = document.createElement("option");
            option.text = user;
            option.value = user;
            dropdown.add(option);
        }); //create a dropdown to show the asset list


    };

    //show picture of the token
    document.getElementById('Show_token').onclick = async () => {
        const selectedtoken = document.getElementById("tokenDropdown").value;
        let tokenURI = await contract.methods.tokenURI(selectedtoken).call();
        tokenURI = tokenURI.replace("ipfs://", "");
        const jsonURI = "https://ipfs.io/ipfs/" + tokenURI;
        fetch(jsonURI)
            .then(response => response.json())
            .then(data => {
                const imageURI = data.image;
                // 创建一个新的 <img> 元素
                const img = document.createElement('img');
                // 设置 <img> 元素的 src 属性
                img.src = imageURI;
                // 将 <img> 元素添加到新添加的 <div> 元素中
                document.getElementById('tokenImage').appendChild(img);
            })
            .catch(error => console.error('Error:', error));
    };

    //transfer the token to another wallet
    document.getElementById('transfer').onclick = async () => {

        const selectedtoken = document.getElementById("tokenDropdown").value; //select one token from the assets list just verified previously
        const toAddress = document.getElementById("addressInput").value; // input the destination address

        try {
            await contract.methods.safeTransferFrom(account, toAddress, selectedtoken).send({from: account});//call the transfer method of the contract
            alert("Successfully transferred")
        } catch (error) {
            console.error('Error transfering tokens', error);
        }


    };

    //check current state if it's pre-sale

    document.getElementById('Current_state').onclick = async () => {
        current_state = await contract.methods.check_presale().call();
        if (current_state) {

            alert('Presale:\n whitelisted wallets only!!'); // if it's pre-sale
        } else {
            alert('Public sale!!'); //If it's not pre-sale
        }

    };
</script>

</body>
</html>